<launch>
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/>
  
  <node pkg="dialogflow" type="talker.py" name="talker" output="screen">
    <param name="agent_name" value="rico-aktywny-nasluch-asgf" />
    <param name="data_dir" value="$(find dialogflow)/data" />
  </node>

  <node pkg="dialogflow" type="vad_py3_from_mic.py" name="vad" args="--keywords 'hey rico' --sensitivities 0.9 --input_audio_device 1" output="screen" />
  
  <node name="soundplay_node" pkg="sound_play" type="soundplay_node.py"/>
</launch>


